@page "/activities"
@using TrainingDataAccess.Models
@using TrainingDataAccess.Services.ActivityServices
@using TrainingCreator.Pages.Components

@inject IActivityService ActivityService
@inject IDialogService DialogService

@if (_activities is null)
{
    <p><em>Načítám...</em></p>
}
else
{
    <MudTable @ref="@_table" T="Activity" Items="@_activities" Dense="true" Hover="true" Bordered="false" Striped="true"
              Filter="new Func<Activity,bool>(FilterFunc1)" 
              OnRowClick="OnRowClick" @bind-SelectOnRowClick="@_selectOnRowClick">
        <ToolBarContent>
            <MudPaper Class="d-flex flex-grow-0 align-center flex-row gap-4" Elevation="0">
                <MudText Typo="Typo.h6">Aktivity</MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Small" aria-label="add" Color="Color.Success"
                               OnClick="ActivityNew_Show" DisableElevation="true" Variant="Variant.Filled" />
                <MudTextField @bind-Value="_searchString1" Placeholder="Hledej" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small"
                              MaxWidth="500px" Width="350px" Margin="Margin.Dense" Variant="Variant.Outlined"
                />
            </MudPaper>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Název</MudTh>
            <MudTh>Popis</MudTh>
            <MudTh>Akce</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Název">@context.Name</MudTd>
            <MudTd DataLabel="Popis">@context.Description</MudTd>
            <MudTd >
                <MudIconButton Variant="Variant.Filled" DisableElevation="true" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" OnClick="@(() => ConfirmDelete(context))"/>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudChip Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary">@CurrentFirstRecordNumber .. @CurrentLastRecordNumber  / @_table?.GetFilteredItemsCount()</MudChip>
            <MudPagination Color="Color.Primary" Variant="Variant.Filled" DisableElevation="true" Size="Size.Small" SelectedChanged="PageChanged" Count="@((_table?.GetFilteredItemsCount()??0 + _table?.RowsPerPage??0 - 1) / _table?.RowsPerPage??0)" Class="pa-4" BoundaryCount="2" MiddleCount="1" />
        </PagerContent>
    </MudTable>
}



@code {
    private List<Activity>? _activities ;

    private MudTable<Activity>? _table;

    private bool _selectOnRowClick = true;
    
    private string _searchString1 = "";
    
    public long CurrentPageItems => GetCurrentPageItems();

    public long CurrentFirstRecordNumber => _table?.GetFilteredItemsCount()>0? (_table.CurrentPage * _table.RowsPerPage) + 1: 0;

    public long CurrentLastRecordNumber
    {
        get
        {
            var itemsLeft = (_table?.CurrentPage + 1) * _table?.RowsPerPage;

            if (_table?.GetFilteredItemsCount() <= 0) return 0;

            if (_table?.GetFilteredItemsCount() - itemsLeft > 0 )
            {
                return itemsLeft ?? 0;
            }

            return _table?.GetFilteredItemsCount() ?? 0;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _activities = await ActivityService.GetAllActivities();
    }

    private async Task ConfirmDelete(Activity activity)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, NoHeader = false, DisableBackdropClick = true, 
            Position = DialogPosition.Center, FullWidth = true, FullScreen = false, MaxWidth = MaxWidth.Medium };

        var parameters = new DialogParameters
        {
            ["Title"] = "Smazání aktivity",
            ["ConfirmationText"] =$"Opravdu si přejete aktivitu {activity.Name} smazat ?",
            ["IconName"] = Icons.Material.Filled.Delete
        };

        var dialog = await DialogService.ShowAsync<ConfirmDialog>("Aktivita", parameters, options);

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await Delete(activity);
        }
        StateHasChanged();
    }

    private async Task Delete(Activity activity)
    {
        await ActivityService.DeleteActivity(activity);

        _activities?.Remove(activity);
    }

    private async Task ActivityNew_Show()
    {
        Activity activity = new Activity();
        var options = new DialogOptions { CloseOnEscapeKey = true, NoHeader = false, DisableBackdropClick = true, Position = DialogPosition.Center, FullWidth = true, FullScreen = false, MaxWidth = MaxWidth.Medium};
        var parameters = new DialogParameters { ["Activity"] = activity };

        var dialog = await DialogService.ShowAsync<ActivityNew>("Nová aktivita", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            _activities?.Add((Activity)result.Data);
        }
    }

    private bool FilterFunc1(Activity element) => FilterFunc(element, _searchString1);

    private bool FilterFunc(Activity element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString) 
            || element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase) 
            || element.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase)
            || $"{element.PersonsMin} {element.PersonsMax} ".Contains(searchString)
            || element.Tags.Any(t => t.Name!.Contains(searchString)))
            return true;

        return false;
    }

    private void PageChanged(int i)
    {
        _table?.NavigateTo(i - 1);

    }

    private long GetCurrentPageItems()
    {
        var currentPage = _table?.CurrentPage;
        var rowsPerPage = _table?.RowsPerPage;
        var filtered = _table?.FilteredItems.ToList()?? new List<Activity>();

        return filtered.Skip(currentPage.GetValueOrDefault() * rowsPerPage.GetValueOrDefault()).Take(rowsPerPage.GetValueOrDefault()).Count();
    }

    async Task OnRowClick(TableRowClickEventArgs<Activity> activity)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, NoHeader = false, DisableBackdropClick = false, 
            Position = DialogPosition.Center, FullWidth = false, FullScreen = false, MaxWidth = MaxWidth.Medium};
        var parameters = new DialogParameters { ["Activity"] = activity.Item };

        var dialog = await DialogService.ShowAsync<ActivityEdit>("Aktivita", parameters, options);

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = (Activity)result.Data;
            var dest = _activities?.Find(a => a.ActivityId == res.ActivityId);
            if (dest != null)
            {
                dest.Description = res.Description;
                dest.Name = res.Name;
                dest.PersonsMax = res.PersonsMax;
                dest.PersonsMin = res.PersonsMin;
            }
        }
        StateHasChanged();
    }

    
    
}
