@page "/edittraining/{TrainingId:int}"
@using FloorballTraining.CoreBusiness.Validations
@using FloorballTraining.CoreBusiness.Specifications
@inject IEditTrainingUseCase EditTrainingUseCase
@inject IViewTrainingByIdUseCase ViewTrainingByIdUseCase
@inject IViewPlacesUseCase ViewPlacesUseCase
@inject IDeleteTrainingUseCase DeleteTrainingUseCase
@inject ICloneTrainingUseCase CloneTrainingUseCase

@inject NavigationManager NavigationManager
@inject AppSettings AppSettings
@inject ISnackbar SnackBar

@if (_training== null)
{
    <MudPaper Class="align-center justify-center mud-width-full" Elevation="0">
        <MudProgressCircular Color="Color.Warning" Size="Size.Large" Indeterminate="true" />
    </MudPaper>
}
else
{
    <MudPaper Elevation="0" Class="d-inline-flex z-100 position-sticky top-0 align-center justify-end align-content-end gap-2 mud-width-full">
        <MudText Typo="Typo.h4">Trénink</MudText>
        <MudSpacer />
        <ExportToPdfTrainingComponent Training="_training"/>
        <SendTrainingViaEmailComponent TrainingIds ="new List<int>{_training.Id}" />
        <MudChip T="string" Icon="@Icons.Material.Filled.Save" Variant="Variant.Outlined" Color="Color.Success" OnClick="Submit">Uložit</MudChip>

        <MudChip T="string" Icon="@Icons.Material.Filled.Refresh" Variant="Variant.Outlined" OnClick="Cancel" Color="Color.Warning">Obnovit</MudChip>
        
        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Variant="Variant.Outlined" Dense="true" >
            <MudMenuItem Icon="@Icons.Material.Filled.CopyAll" OnClick="CloneTraining">Kopírovat</MudMenuItem>
            <MudMenuItem Icon="@Icons.Material.Filled.Delete" OnClick="()=> _isDialogForTrainingDeletionVisible = true" >Odstranit</MudMenuItem>
        </MudMenu>
    </MudPaper>


    <MudPaper Elevation="0" Width="100%">
        <EditForm OnValidSubmit="Submit" EditContext="_editContext">
            <FluentValidationValidator Validator="_trainingValidator" />
            <ValidationSummary />
            <MudPaper Elevation="0">

                <MudPaper Elevation="0" Class="d-inline-flex flex-wrap gap-6 align-items-end mud-width-full mb-6">

                    <MudTextField Label="Název" @bind-Value="_training.Name" Class="flex-grow-0 " Style="min-width:20em;" MaxLength="AppSettings.MaximalLengthTrainingName" />
                    <ValidationMessage For="()=>_training.Name" />



                    <MudPaper Elevation="0" Style="width:22em;" Class="mr-2 pa-0">
                        <MudText>Intensita: @Intensities.Values.First(v => v.Value == _training.Intensity).Description</MudText>
                        <Slider @bind-Value="@_training.Intensity" MinValue="@Intensities.MinValue" MaxValue="@Intensities.MaxValue" />
                        <ValidationMessage For="()=>_training.Intensity" />
                    </MudPaper>

                    <MudPaper Elevation="0" Style="width:22em;" Class="mr-2 pa-0">
                        <MudText>Obtížnost: @Difficulties.Values.First(v => v.Value == _training.Difficulty).Description</MudText>
                        <Slider @bind-Value="@_training.Difficulty" MinValue="@Intensities.MinValue" MaxValue="@Intensities.MaxValue" />
                        <ValidationMessage For="()=>_training.Difficulty" />
                    </MudPaper>
                </MudPaper>

                <MudPaper Elevation="0" Class="d-inline-flex flex-wrap gap-6 align-items-end mud-width-full mb-6">
                    <MudPaper Elevation="0" Class="">
                        <MudPaper Elevation="0" Class="mr-2 pa-0 d-inline-flex align-items-center gap-2">
                            <MudText>Doba trvání</MudText>
                            <MudNumericField Step="5" Style="width: 4em;" @bind-Value="@_training!.Duration" Min="5" Max="@(Math.Max(_training?.GetActivitiesDuration()??0, _maximalDuration))" Variant="Variant.Outlined" />

                        </MudPaper>
                        <ValidationMessage For="()=>_training!.Duration" />
                    </MudPaper>

                    <MudPaper Elevation="0" Class="">
                        <MudPaper Elevation="0" Class="d-inline-flex flex-wrap align-items-center gap-2 mr-4 pa-0">
                            <MudText>Počet osob</MudText>
                            <RangeSlider @bind-ValueHigh="@_training.PersonsMax" Width="4em" @bind-ValueLow="@_training.PersonsMin" MinValue="1" MaxValue="@_personsMax" />
                        </MudPaper>
                        <ValidationMessage For="() => _training.PersonsMin" />
                        <ValidationMessage For="() => _training.PersonsMax" />
                    </MudPaper>
                    <MudPaper Elevation="0" Class="">
                        <MudPaper Elevation="0" Class="d-inline-flex flex-wrap align-items-center gap-2 mr-4 pa-0">
                            <MudText>Počet brankářů</MudText>
                            <RangeSlider @bind-ValueHigh="@_training.GoaliesMax" Width="4em" @bind-ValueLow="@_training.GoaliesMin" MinValue="0" MaxValue="@_goaliesMax" />
                        </MudPaper>
                        <ValidationMessage For="() => _training.GoaliesMin" />
                        <ValidationMessage For="() => _training.GoaliesMax" />
                    </MudPaper>
                </MudPaper>

                <MudPaper Elevation="0" Class="d-inline-flex gap-4 flex-wrap my-2 mud-width-full">
                    <MudTextField Label="Popis" @bind-Value="_training.Description" Lines="3" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    <ValidationMessage For="()=>_training.Description" />
                    <MudTextField Label="Komentář před zahájením" @bind-Value="_training.CommentBefore" Lines="3" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    <ValidationMessage For="()=>_training.CommentBefore" />
                    <MudTextField Label="Komentář po ukončení" @bind-Value="_training.CommentAfter" Lines="3" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    <ValidationMessage For="()=>_training.CommentAfter" />
                </MudPaper>

                <MudPaper Elevation="0" Class="my-2 pa-0 d-flex-wrap" Style="max-width:40em;">
                
                    <MudSelect Label="Místo" Variant="Variant.Outlined" Dense="true" @bind-Value="_training.Place" Class="d-flex-none mb-4 pa-0">

                        @if (_places != null)
                        {
                            @foreach (var place in _places)
                            {
                            @* <MudSelectItem Value="@SelectedPlaceChanged(place)"><MudText>@place.ToString()</MudText></MudSelectItem> *@
                                <MudSelectItem Value="@place"><MudText>@place.ToString()</MudText></MudSelectItem>
                            }
                        }

                    </MudSelect>
                    <ValidationMessage For="()=>_training.Place" />
                </MudPaper>


                <MudPaper Elevation="0" Class="my-2 mud-width-full">
                    <MudText Typo="Typo.h5">Věkové kategorie</MudText>
                    <AgeGroupsComponent SelectedValues="@_training.TrainingAgeGroups" SelectedValuesChanged="RefreshAgeGroups" />
                    <ValidationMessage For="()=>_training.TrainingAgeGroups" />
                </MudPaper>

                <MudPaper Elevation="0" Class="my-2 mud-width-full">
                    <MudText Typo="Typo.h5">Zaměření tréninku</MudText>
                    <TagSelectTrainingGoalComponent SelectedTags="@_training.GetTrainingGoals()" OnSelectedTagsChanged="TrainingGoalChanged" />
                    <ValidationMessage For="()=>_training.TrainingGoal1" />
                </MudPaper>
            
            
                @*Equipments*@
                <MudPaper Elevation="0" Class="my-2 mud-width-full">
                    <MudText Typo="Typo.h5">Vybavení a pomůcky</MudText>
                    <MudChipSet T="string">
                        @foreach (var equipment in _equipmentList)
                        {
                            <MudChip T="string" Text="@equipment" Size="Size.Small"/>
                        }
                    </MudChipSet>
                </MudPaper>

                @*TrainingParts*@
                <MudPaper Elevation="0" Class="my-2 mud-width-full">
                    <MudText Typo="Typo.h5">Tréninkové části</MudText>


                    <MudPaper Elevation="0" Class="d-inline-flex flex-wrap my-2 align-items-center mud-width-full">
                        <MudPaper Elevation="0" Class="d-inline-flex flex-wrap shrink-1 my-2 align-items-center mud-width-full" Style="">
                            <MudText Style="max-width: 22em;" Class="d-flex flex-wrap mr-2">Naplánováno celkem</MudText>
                            <ProgressComponent Value="@_training.GetActivitiesDuration()" TargetValue="@_training.Duration" Ratio="@(_training.Duration == 0 ? 0 : Math.Round(100 * (_training.GetActivitiesDuration() / (decimal)_training.Duration)))" />
                            @* </MudPaper>
                    <MudPaper Elevation="0" Class="d-inline-flex flex-wrap my-2 align-items-center mud-width-full"> *@
                            <MudText Style="max-width: 22em;" Class="d-flex flex-wrap ml-4 mr-2">Naplánováno zaměření</MudText>
                            <ProgressComponent Value="@_training.GetTrainingGoalActivitiesDuration()" TargetValue="@((int)Math.Floor((decimal)(AppSettings.MinimalDurationTrainingGoalPercent / 100 * _training.Duration)))"
                                               Ratio="@(_training.Duration == 0 ? 0 : Math.Round(100 * (_training.GetTrainingGoalActivitiesDuration() / (decimal)_training.Duration)))" />
                        </MudPaper>
                    </MudPaper>
                
                    <ValidationMessage For="()=>_training.TrainingParts" />
                
                    <TrainingPartsComponent Training="_training" OnTrainingPartChanged="OnTrainingPartChanged" ></TrainingPartsComponent>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Success" OnClick="AddTrainingPart" Class="mr-8">Nová tréninková část</MudChip>

                </MudPaper>
            

           
                
            </MudPaper>
        </EditForm>

    </MudPaper>

    <MudDialog @bind-ref="_trainingDeleteConfirmationDialog" @bind-Visible="_isDialogForTrainingDeletionVisible" Options="_dialogOptions">
        <TitleContent>
            <MudText Typo="Typo.h6"><MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-3" />Smazání tréninku</MudText>
        </TitleContent>
        <DialogContent>
            <p>Opravdu chcete <strong>smazat</strong> trénink <strong>@_training.Name</strong>?</p>
        </DialogContent>
        <DialogActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => _isDialogForTrainingDeletionVisible = false" Class="px-10">Ne</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="DeleteTraining" Class="px-10">Ano</MudButton>
        </DialogActions>
    </MudDialog>

}
@code {
    [Parameter]
    public int TrainingId { get; set; }

    private TrainingValidator? _trainingValidator ;

    private IReadOnlyList<PlaceDto>? _places;

    private TrainingDto? _training;

    private List<string> _equipmentList = new();

    private EditContext _editContext = null!;

    private int _personsMax;
    private int _goaliesMax;
    private int _maximalDuration;


    private readonly DialogOptions _dialogOptions = new() { 
        NoHeader = false,CloseOnEscapeKey = true,CloseButton = true,BackdropClick = false, MaxWidth = MaxWidth.Small,
        Position = DialogPosition.Center, FullScreen = false };

    private bool _isDialogForTrainingDeletionVisible;
    private MudDialog? _trainingDeleteConfirmationDialog;

    protected override async Task OnInitializedAsync()
    {
        _training = await ViewTrainingByIdUseCase.ExecuteAsync(TrainingId);
        _editContext = new EditContext(_training!);

        var places = await ViewPlacesUseCase.ExecuteAsync(new PlaceSpecificationParameters());
        _places = places.Data;


        _personsMax = AppSettings.MaximalPersons;
        _goaliesMax = AppSettings.MaximalPersons;
        _maximalDuration = AppSettings.MaxTrainingDuration;
        _trainingValidator = new TrainingValidator(
            _maximalDuration,
            AppSettings.MaximalLengthTrainingName,
            AppSettings.MaximalLengthTrainingDescription,
            _personsMax,
            AppSettings.MaxTrainingPartDuration,
            AppSettings.MaximalLengthTrainingPartName,
            AppSettings.MaximalLengthTrainingPartDescription,
            AppSettings.MinimalDurationTrainingGoalPercent
            );

        _editContext.NotifyValidationStateChanged();
        _editContext.Validate();
    }

    private async Task Submit()
    {

        if (!_editContext.Validate())
        {
            ShowErrorMessage(_editContext.GetValidationMessages());
            return;
        }
        
        await EditTrainingUseCase.ExecuteAsync(_training!);

        SnackBar.Add("Uloženo", severity: Severity.Success);
        NavigationManager.NavigateTo("/edittraining/" + _training!.Id);
    }

    private void ShowErrorMessage(IEnumerable<string> messages)
    {
        foreach (var message in messages)
        {
            SnackBar.Add(message, severity: Severity.Error);
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/trainings");
    }

    private void AddTrainingPart()
    {
        _training!.AddTrainingPart();

        _editContext.NotifyValidationStateChanged();
        _editContext.NotifyFieldChanged(new FieldIdentifier(_training, nameof(_training.TrainingParts)));

    }

    private void OnTrainingPartChanged()
    {
        _editContext.NotifyValidationStateChanged();
        _editContext.NotifyFieldChanged(new FieldIdentifier(_training!, nameof(_training.TrainingParts)));
        _equipmentList = _training?.GetEquipment() ?? new List<string>();
    }

    private void RefreshAgeGroups(List<AgeGroupDto> ageGroupDtos)
    {
        _training!.TrainingAgeGroups = new List<AgeGroupDto>();
        foreach (var ageGroupDto in ageGroupDtos)
        {
            _training.AddAgeGroup(ageGroupDto);
        }
        _editContext.NotifyValidationStateChanged();
        _editContext.NotifyFieldChanged(new FieldIdentifier(_training!, nameof(_training.TrainingAgeGroups)));
    }

    private void  TrainingGoalChanged(List<TagDto> goals)
    {
        

        _training!.TrainingGoal3 = null;
        _training!.TrainingGoal2 = null;
        _training!.TrainingGoal1 = null;




        if (goals.Count >= 3)
        {
            _training!.TrainingGoal3 = goals[2];
            _editContext.NotifyFieldChanged(new FieldIdentifier(_training, nameof(_training.TrainingGoal3)));
        }

        if (goals.Count >= 2)
        {
            _training!.TrainingGoal2 = goals[1];
            _editContext.NotifyFieldChanged(new FieldIdentifier(_training, nameof(_training.TrainingGoal2)));
        }

        if (goals.Count >= 1)
        {
            _training!.TrainingGoal1 = goals[0];
            _editContext.NotifyFieldChanged(new FieldIdentifier(_training, nameof(_training.TrainingGoal1)));
        }

        
        //_editContext.NotifyValidationStateChanged();
        //StateHasChanged();
    }

    private async Task DeleteTraining()
    {
        await  DeleteTrainingUseCase.ExecuteAsync(_training!.Id);
        NavigationManager.NavigateTo("/trainings");
    }


    private async Task CloneTraining()
    {
        var clone = await CloneTrainingUseCase.ExecuteAsync(_training!.Id);
        NavigationManager.NavigateTo($"/edittraining/{clone.Id}");
    }

}
