@using FloorballTraining.CoreBusiness
@* <MudCard Outlined="true" Class="" Style="">
    <MudCardContent> *@
        <MudGrid Class="border-1 rounded-3 ma-0 pa-1" >
            <MudItem xs="2">
                <MudPaper Elevation="0" Class="align-center justify-center align-items-center justify-items-center">
                    <MudAvatar Size="Size.Small" Class=""
                               Color="@AppointmentHelper.GetMudColor(Appointment.AppointmentType)">
                        <span class="@AppointmentHelper.GetAppointmentIcon(Appointment.AppointmentType)" aria-hidden="true"></span>
                    </MudAvatar>
                </MudPaper>
            </MudItem>
            <MudItem xs="10">

        <MudPaper Elevation="0" Class="justify-center">
                    <MudText Typo="Typo.h6">@(Appointment.Name)</MudText>


                    <MudPaper Elevation="0" Class="d-flex flex-wrap gap-2 align-center justify-start">
                        <MudIcon Icon="@Icons.Material.Sharp.Place"/>
                        <MudText Typo="Typo.body2">@($"{Appointment.LocationName}") </MudText>
                    </MudPaper>

                    <MudPaper Elevation="0" Class="d-flex flex-wrap gap-2 align-center  justify-start">
                        <MudIcon Icon="@Icons.Material.Sharp.Timer"/>
                <MudText Typo="Typo.body2">@AppointmentHelper.GetDurationDescription(Appointment)</MudText>
                    </MudPaper>

                    <MudPaper Elevation="0" Class="d-flex flex-wrap gap-2 align-center  justify-start">
                        <MudIcon Icon="fa-regular fa-calendar-days"/>
                <MudText Typo="Typo.body2" Color="@AppointmentHelper.GetAppointmentTypeColor(Appointment)">@AppointmentHelper.GetAppointmentTypeDescription(Appointment) </MudText>
                    </MudPaper>
                </MudPaper>
            </MudItem>

        </MudGrid>


    @* </MudCardContent>
</MudCard> *@

@code {
    [Parameter] public AppointmentDto Appointment { get; set; } = null!;


    

}
