@using FloorballTraining.WebApp.Extensions
@inject NavigationManager NavigationManager

@if (Activities.Any())
{
    foreach (var activity in Activities)
    {
        <tr>
            <td>@activity.Name</td>
            <td>@(@activity.Description?.TruncateLongString(120))</td>
            <td>@activity.PersonsMin</td>
            <td>@activity.PersonsMax</td>
            <td>@activity.DurationMin</td>
            <td>@activity.DurationMax</td>
            <td>
                <MudPaper>
                @foreach(var tag in @activity.ActivityTags.Where(at=>at.Tag!=null).Select(t=>t.Tag)) {
                    <MudText>@tag?.Name</MudText>
                }
                </MudPaper>
            </td>

            <td>
                <MudPaper>
                    @foreach(var equipment in @activity.ActivityEquipments.Where(ae=>ae.Equipment!=null).Select(e=>e.Equipment)) {
                        <MudText>@equipment?.Name</MudText>
                    }
                </MudPaper>
            </td>

            <td>
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Color="Color.Success"
                           OnClick="()=>EditActivity(activity.ActivityId)" DisableElevation="true" Variant="Variant.Filled" />
            </td>
        </tr>
    }
}


@code {
    [Parameter]
    public List<Activity> Activities { get; set; } = new List<Activity>();


    private void EditActivity(int activityId)
    {
        NavigationManager.NavigateTo($"/editactivity/{activityId}");
    }

}
