@page "/editplace/{placeId:int}"
@using Environment = FloorballTraining.CoreBusiness.Environment
@using FloorballTraining.CoreBusiness.Dtos
@inject IEditPlaceUseCase EditPlaceUseCase
@inject IDeletePlaceUseCase DeletePlaceUseCase

@inject IViewPlaceByIdUseCase ViewPlaceByIdUseCase

@inject NavigationManager NavigationManager

<MudText Typo="Typo.h4">Štítek</MudText>

<EditForm Model="@_place" OnValidSubmit="Submit">
    <DataAnnotationsValidator/>
    <MudPaper Elevation="0" Class="d-inline-flex flex-wrap gap-4">
        <MudTextField Label="Název" @bind-Value="_place.Name" For="() => _place.Name" Style="width:22em;" />
        
        <MudTextField T="int" @bind-Value="_place.Length"/>
        <MudTextField T="int" @bind-Value="_place.Width" />

        <MudSelect T="string" @bind-Value="_place.Environment" Text="@_place.Environment"  Style="width:22em;">
           
            <MudSelectItem Value="Environment.Anywhere">Kdekoliv</MudSelectItem>
            <MudSelectItem Value="Environment.Indoor">Uvnitř</MudSelectItem>
            <MudSelectItem Value="Environment.Outdoor">Venku</MudSelectItem>
          
        </MudSelect>
        

        <MudSpacer/>
        <MudChip Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Error" OnClick="()=> _isDialogForDeletionVisible = true">Odstranit</MudChip>
        
    </MudPaper>

    @*Buttons*@
    <MudPaper Elevation="0" Class="d-inline-flex my-2">
        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" OnClick="Cancel">Cancel</MudButton>
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" @onkeypress:preventDefault>OK</MudButton>
    </MudPaper>
</EditForm>

<MudDialog @bind-ref="_deleteConfirmationDialog" @bind-IsVisible="_isDialogForDeletionVisible" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6"><MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-3" />Smazání místa</MudText>
    </TitleContent>
    <DialogContent>
        <p>Opravdu chcete <strong>smazat</strong> místo <strong>@_place.Name</strong>?</p>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => _isDialogForDeletionVisible = false" Class="px-10">Ne</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="DeletePlace" Class="px-10">Ano</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [Parameter]
    public int PlaceId { get; set; }

    private PlaceDto _place = new();

    
    private MudDialog? _deleteConfirmationDialog;
    private bool _isDialogForDeletionVisible;
    private readonly DialogOptions _dialogOptions = new()
        {
            NoHeader = false,
            CloseOnEscapeKey = true,
            CloseButton = true,
            DisableBackdropClick = true,
            MaxWidth = MaxWidth.Small,
            Position = DialogPosition.Center,
            FullScreen = false
        };

    protected override async Task OnParametersSetAsync()
    {
        _place = await ViewPlaceByIdUseCase.ExecuteAsync(PlaceId);
    }

    protected override  void OnInitialized()
    {
        
    }

    private async Task Submit()
    {
        await EditPlaceUseCase.ExecuteAsync(_place);
        NavigationManager.NavigateTo("/places");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/places");
    }

    private async Task DeletePlace()
    {
        _isDialogForDeletionVisible = false;

        await DeletePlaceUseCase.ExecuteAsync(_place);

        NavigationManager.NavigateTo("/places");
    }

}
