@using Microsoft.AspNetCore.Routing.Constraints
@using FloorballTraining.Extensions
@inject NavigationManager NavigationManager


@if (Trainings.Any())
{
    foreach (var training in Trainings)
    {
        <tr>
            <td>@training.Name</td>
            <td>@(training.Description?.TruncateLongString(120))</td>
            <td>@training.TrainingGoal?.Name</td>
            <td>@training.PersonsMin</td>
            <td>@training.PersonsMax</td>
            <td>@training.Duration</td>
            <td>
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Color="Color.Success"
                       OnClick="()=>EditTraining(training.TrainingId)" DisableElevation="true" Variant="Variant.Filled" />
               <ExportToPdfTrainingComponent Training="training"/>
               
            </td>
        </tr>
    }
}


@code {
    [Parameter]
    public List<Training> Trainings { get; set; } = new();
    
    private void EditTraining(int trainingId)
    {
        NavigationManager.NavigateTo($"/edittraining/{trainingId}");
    }

    

}
